<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- load handlebars js -->
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <!-- load bootstrap js -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- load jquery js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../assets/js/landing.js"></script>
        <script src="/js/logout.js"></script>
        <link rel="stylesheet" href="style.css">
        <title>Project Management System</title>
    </head>
    <body>
        <header id="main_header">
            <div id="logo">
            </div>
        </header>
        <div id="background_image">
        </div>
        <div class="container-fluid text-center">
            <div class="comparison m-5">
                <div class="log">
                    <div class="flex-column justify-space-around">
                        <header class="display-flex justify-space-between align-center p-2">
                            <h3>Project Management System</h3>
                        </header>
                        <main class="container container-fluid mt-5">
                            <div id="logon_form">
                                <form>
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                    <input type="email" id="form2Example1" class="form-control" placeholder="Email" />
                                    <!-- <label class="form-label" for="form2Example1">Email address</label> -->
                                    </div>
                                
                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                    <input type="password" id="form2Example2" class="form-control" placeholder="Password" />
                                    <!-- <label class="form-label" for="form2Example2">Password</label> -->
                                    </div>
                                
                                    <!-- 2 column grid layout for inline styling -->
                                    <div class="row mb-4">
                                    <div class="col d-flex justify-content-center">
                                        <!-- Checkbox -->
                                        <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                                        </div>
                                    </div>
                                
                                    <div class="col">
                                        <!-- Simple link -->
                                        <a href="#!">Forgot password?</a>
                                    </div>
                                    </div>
                            
                                    <!-- Submit button -->
                                    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
                                    
                                    <!-- Sign up button -->
                                    <button type="button" class="btn btn-primary btn-block mb-4">Sign up</button>
                                
                                    <!-- Register buttons -->
                                    <div class="text-center">
                                    <p>Not a member? <a href="#!">Register</a></p>
                                    </div>
                                </form>
                            </div>
                        </main>
                        <footer id="footer">
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <!-- handlbar used for dynamic content -->
        <!-- template -->
		<script id="template_favourite_foods" type="text/x-handlebars-template">
			<p id="favourite_food">
				My favourite food is {{favourite_food}} which I started enjoying at age {{age}}.
			<p>
		</script>
		<script type="text/javascript">
			
			//get contents of html from template
			var template = document.getElementById("template_favourite_foods").innerHTML;

			//compile the template data into a function
			var templateScript = Handlebars.compile(template);

			var context = { 
				"favourite_food" : "Pasta", 
				"age" : "30" 
			};

			//build handlebars object
			var html = templateScript(context);

			//insert the HTML code into the page
			document.getElementById("footer").innerHTML = html;
			
		</script>

    </body>
</html>