{{#each job as |jobs|}}
<div class="col-md-6">
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">{{jobs.job_description}}</h5>
    <p class="card-text">requested by: {{jobs.customer.first_name}},{{jobs.customerID}}</p>
    </div>
</div>
</div>
{{/each}}

