
                        <main class="container container-fluid mt-5">
                            <div id="logon_form">
                                <form>
                                            <!-- 2 column grid layout for inline styling -->
                                 <div  class="row mb-4">
                                            <div class="col d-flex justify-content-center">
                                            </div>
                                </div>
                                        <div class="col">
                                            <button style='margin-bottom:30px'type="button" class="btn btn-primary">Work Request</button>
                                        </div>
                                         <div class="col">
                                            <button style='margin-bottom:30px'type="button" class="btn btn-primary">Work Orders</button>
                                        </div>
                                        <div class="col">
                                        <button style='margin-bottom:30px' type="button" class="btn btn-primary">Logout</button>
                                        </div>  
                                </form>
                            </div>
                        </main>
                        <footer id="footer">
                        </footer>
                    </div>
                </div>
            </div>
        </div>
 