{{#each time as |timeRecord|}}
<div class="card">
    <div class="card-header">
        <p>Employee number: {{timeRecord.employeeID}}</p>
    </div>
        <p class="card-body">{{timeRecord.Hours_worked}}hours</p>
        <p class="card-body">Job number:{{timeRecord.jobID}}</p>
</div>
{{/each}}