{{#if user.isEmployee}}
                        <main class="container container-fluid mt-5">
                            <div id="logon_form">
                                <form>
                                            <!-- 2 column grid layout for inline styling -->
                                 <div  class="row mb-4">
                                            <div class="col d-flex justify-content-center">
                                            </div>
                                </div>
                                        <div class="col">
                                            <button style='margin-bottom:30px'type="button" class="btn btn-primary">Work Request</button>
                                        </div>
                                         <div class="col">
                                            <button style='margin-bottom:30px'type="button" class="btn btn-primary">Work Orders</button>
                                        </div>
                                        <div class="col">
                                        <button style='margin-bottom:30px' type="button" class="btn btn-primary">Logout</button>
                                        </div>  
                                </form>
                            </div>
                        </main>

<!-- Loop over each object in the projects array -->

{{else}}
                        <main class="container container-fluid mt-5">
                          <div id="logon_form">
                            <form>

                              <!-- 3 buttons  -->
                              <div  class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    </div>
                                </div>
                              <div class="col">
                                <button style='margin-bottom:30px'type="button" class="btn btn-primary">Work request</button>
                              </div>
                              <div class="col">
                                <button style='margin-bottom:30px'type="button" class="btn btn-primary">Invoices</button>
                              </div>
                              <div class="col">
                                <button style='margin-bottom:30px' type="button" class="btn btn-primary">Logout</button>
                              </div>  
                            </form>
                        </main>
{{/if}}

