  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Fill in the Work Order details:</h3>
  
      <form class="form new-WO-form">
        <div class="form-group">
          <label for="job-id">Job id:</label>
          <input class="form-input" type="text" id="job-id" name="customer-id" />
        </div>

         <div class="form-group">
          <label for="employee-id">Emplyee id:</label>
          <input class="form-input" type="text" id="employee-id" name="employee-id" />
        </div>

         <div class="form-group">
          <label for="hours-worked">Job id:</label>
          <input class="form-input" type="text" id="hours-worked" name="hours-worked" />
        </div>
     
        <div class="form-group">
          <label for="Date-worked">Date Worked:</label>
          <textarea class="form-input" id="date-worked" name="date-worked"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>