<div class="row">
    <div class="col-auto">
      <h2>Welcome, {{user.username}}!</h2>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Create a New Work Request:</h3>
  
      <form class="form new-job-form">
        <div class="form-group">
          <label for="customer-id">Customer name:</label>
          <input class="form-input" type="text" id="customer-id" name="customer-id" />
        </div>
     
        <div class="form-group">
          <label for="job-description">Job description:</label>
          <textarea class="form-input" id="job-description" name="job-description"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  
    {{#if jobs.length}}
    <div class="col-md-6 job-list">
      <h3>Current Request:</h3>
  
      {{#each jobs as |jobs|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/jobs/{{jobs.jobId}}">{{jobs.job_description}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{jobs.jobid}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  
  <script src="./js/WorkRequest.js"></script>
  